@import url(./css/layout/normalize.css);
@import url(./css/layout/base.css);
 
@import url(./css/blocks/button.css);
@import url(./css/blocks/header.css);
@import url(./css/blocks/breadcrumbs.css);
@import url(./css/blocks/greeting.css);
@import url(./css/blocks/direction.css);
@import url(./css/blocks/news.css);
@import url(./css/blocks/paginator.css);
@import url(./css/blocks/description.css);
@import url(./css/blocks/footer.css);
@import url(./css/blocks/social.css);
@import url(./css/blocks/wrapper.css);
@import url(./css/blocks/services.css);
@import url(./css/blocks/menu.css);
@import url(./css/blocks/reviews.css);
@import url(./css/blocks/dropdown.css);

/*welcome page*/
.welcome{
display: flex;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
background: url(./img/shades.png) top 55% center no-repeat, url(./img/bg.png) center no-repeat;

}
.contral{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 132px;
    opacity: 0;
  animation: zoom 2s ease-in-out;
  animation-fill-mode: forwards;

}

.contral__text{
  font-size: 18px;
  align-content:center;
}
.contral__btn{
  display: flex;
  margin-top: 53px;
  justify-content: space-evenly;
}

.btn--contral:hover{
  background:#F5170E;
  color: #fff;
}


@keyframes zoom{
from{
transition: scale(.7);
}
20%{
  transform: scale(1.20);
}
40%{
  transform: scale(.8);
}
50%{
  transform: scale(1.6);
  }
  60%{
    transform: scale(.9);
  }
70%{
  transform: scale(1.3);
}
80%{
  transform: scale(.95);
}
to{
opacity: 1;
transform: scale(1);
}
}