.description{
  margin-top: 145px;
}


.description__about:before {
  content: "";
  display: block;
  min-width: 490px;
  min-height: 505px;
  background: url("../../img/gates.png") ;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 0px;
  background-repeat: no-repeat;
}

.description__text {
  display: block;
  background: url("../../img/mountains.png");
  padding: 70px 81px;
  max-width: 785px;
  max-height: 455px;
  margin-top: -408px;
  margin-left: 363px;
  border-radius: 5px;
  background-repeat: no-repeat;
}

.description__title {
  font-weight: 700;
  font-size: 36px;
  
  color: #060606;
}

.description__content {
  color: #060606;
  min-height: 135px;
   margin-top: 40px; 
}

.description__content p {
  line-height: 27px;
}


.description__button{
  margin-top: 39px;
}