.description__about:before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url("../../img/gates.png") center center / cover no-repeat;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 0px;
}

.description__text {
  display: block;
  background: url("../../img/mountains.png");
  padding: 70px 81px;
  max-width: 785px;
  height: 455px;
  margin-top: -415px;
  margin-left: 354px;
  border-radius: 5px;
}

.description__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 37px;
  color: #060606;
}

.description__content {
  color: #060606;
  min-height: 135px;
  margin-bottom: 40px;
}

.description__content p {
  margin-bottom: 20px;
}

.description__content p:last-child {
  margin-bottom: 0;
}