
.direction__title {
  margin-top: 249px;
  margin-right: 50px;
}

.direction__text {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  margin-right: 35px;
}

.direction__pic {
  display: inline-block;
  }

.direction__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.direction__rout {
 min-height: 450px;
 width: calc(100% / 3 - 18px);
 align-items: center;
    background: #fff;
  border-radius: 5px;
  color: #000;
 
  
}
  

.route__header {
  min-height: 144px;
  min-width: 362px;
}

.route__content{
  padding: 32px 23px 25px 23px;
}


.route__text {
  min-width: 108px;
  min-height: 33px;
  font-size: 24px;
  font-weight: bold;
  margin-right: 232px;
}

.rout__condition {
  display: flex;
  justify-content: space-between;
margin-top: 21px;
}

.condition__image {
  display: flex;
  width:50%;
  min-height: 22px;
}

.condition__text {
  font-size: 16px;
  color: #666;
 }
 
 
.route__description {
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: #303030;
  margin-top: 23px;
  }
  
  .rout__button{
    margin-top: 28px;
  }