

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 141px;
  margin-top: 26px;
}

.footer__services{
  min-height: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
padding-bottom: 50px;
}

.footer__content--one{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.footer__content--two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-left: 142px;
}

