.wrapper--img {
  background: url("../../img/1.png");
  width: 1920px;
  height: 1202px;
}

.description--wpap{
  background: url("../../img/2.png");
  width: 1920px;
  height: 893px;

  }

 .action__option--plain{
   background: url(../../img/plain.png);
   height: 100%;
   width: 100%;
 } 

 .action__option--surfer{
   background: url(../../img/surfer.png);
   height: 100%;
   width: 100%;
 }