.picture {
  background: url("../../img/1.png");
  height: 1202px;
  width: 1920px;
}

.picture--bottom{
  background: url("../../img/2.png");
  height: 893px;
  width: 1920px;
}

.action__option--plain {
  background: url(../../img/plain.png);
  height: 100%;
  width: 100%;
}

.action__option--surfer {
  background: url(../../img/surfer.png);
  height: 100%;
  width: 100%;
}