
.greeting__content {
  width: 45%;
    margin-top: 115px;
}

.greeting__title {
  font-size: 72px;
  font-weight: bold;
   text-align: left;
}

.greeting__text {
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}