.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}




.logo {
  display: flex;
  align-items: center;
    padding-bottom: 0px;
    margin-right: 7px;

}

.menu {
  display: flex;
  align-items: center;
  margin-right: 400px;

}

.menu__list {
  display: flex;
  list-style: none;
  justify-content: space-between;

}

.menu__item-active {
  display: flex;
  vertical-align: middle;
  margin-right: 50px;
  font-size: 14px;
}

.menu__link-active {
  font-size: 14px;
  text-decoration: none;
}

.contacts{
     font-style: normal;
   justify-content: space-between;
  }
   

.contacts__phone {
  font-size: 26px;
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;
 
  
}  

.contacts__workhours {
      font-size:13px;
  text-decoration:underline;
  color: #fff;
  text-align: right;
 
}



.timetable {

  display: block;
  position: absolute;
  top: 70px;
  right: 0;
  min-width: 160px;
  height: 80px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  list-style: none;
  margin-right: 365px;
  margin-top: 21px;
}

.timetable__day {
  display: block;
  width: 160px;
  height: 18px;
  margin-bottom: 4px;
  margin-top: -3px;
  font-size: 13px;
  font-weight: 700;

}


.contacts__condition {
  color: #d6bcbc;
  font-size: 11px;
}