.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}


.logo {
  display: flex;
  align-items: center;
}

.logo--header {
  display: flex;
  align-items: center;
  margin-right: 7px;
}


.contacts {
  font-style: normal;
    justify-content: space-between;
  flex-direction: column;
  align-content: flex-end;
}


.contacts__phone {
  font-size: 26px;
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;


}

