.menu {
  display: flex;
  align-items: center;
  }

.menu--header{
  display: flex;
  align-items: center;
  margin-right: 400px;
}

.menu--footer{
  display: flex;
  align-items: center;
  margin-right: 93px;
 }
 
.menu__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.menu__item-active {
  display: flex;
  vertical-align: middle;
  margin-right: 50px;
  font-size: 14px;
}

.menu__link-active {
  font-size: 14px;
  text-decoration: none;
}
.menu__link-active:hover{
  color: #DA0100;
}