.news {
  margin-top: 124px;
 }


.news__header {
  font-size: 36px;
  font-weight: 700;
  }

.news__action {
  display: flex;
  justify-content: space-between;
min-height: 394px;
margin-top: 50px;
}

.action__option {
  flex: 1;
    border-radius: 4px;
  margin-right: 32px;
  min-width: 557px;
  min-height: 394px;
}

.action__option:last-child{
margin-right: none;
}

.action__option--plain {
  background: url(../../img/plain.png);
  height: 100%;
  width: 100%;
}

.action__option--surfer {
  background: url(../../img/surfer.png);
  height: 100%;
  width: 100%;
}

.action__text-content {
 padding-left:35px;
 padding-top: 254px;
 }

.action__time {
  font-size: 14px;
  }

.action__title {
  font-size: 24px;
  font-weight: 700;
 
}

.action__text {
  font-size: 16px;
}

.paginator__home {
  display: flex;
  justify-content: center;
  align-items: center;
   list-style: none;
   margin-top: 51px;
}