.news {
  margin-top: 7px;
  
}


.news__header {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 47px;
}

.news__action {
  display: flex;
  justify-content: space-between;
height: 394px;
margin-bottom: 55px;
}

.action__option {
  flex: 1;
    border-radius: 4px;
  margin-right: 32px;
  min-width: 557px;
  min-height: 394px;
}

.action__option:last-child{
margin-right: none;
}

.action__option--plain {
  background: url(../../img/plain.png);
  height: 100%;
  width: 100%;
}

.action__option--surfer {
  background: url(../../img/surfer.png);
  height: 100%;
  width: 100%;
}

.action__text-content {
 padding:264px 109px 39px 36px ;
 }

.action__time {
  font-size: 14px;
  margin-bottom: 12px;
}

.action__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 3px;
}

.action__text {
  font-size: 16px;
}