.social__list{
display: flex;
justify-content: space-between;
align-items: center;
}

.social__item--tg .social__link{
  background-image: url("../../img/telegram.png");
}
.social__item--tg .social__link:hover{
  background-image: url("../../img/telegram.png");
}

.social__item--vk .social__link{
  background-image: url("../../img/vk.png");
}
.social__item--vk .social__link:hover{
  background-image: url("../../img/vk.png");
}

.social__item--fb .social__link{
  background-image: url("../../img/f.png");
}
.social__item--fb .social__link:hover{
  background-image: url("../../img/f.png");
}

.social__item--inst .social__link{
  background-image: url("../../img/in.png");
}
.social__item--inst .social__link:hover{
  background-image: url(".././img/in.png");
}

.social__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
social__item:last-child{
  margin-right: 0;
}
.social__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}