.wrapper{
  min-width: 1140px;
  min-height: 100%;
display: flex;
flex-direction: column;
background: #001821;
}

.wrapper--home {
background: url("../../img/1.png") center top no-repeat,  url("../../img/2.png") center bottom 5% no-repeat   #001821 ;

}





